#Markdown Basics
##Markdown Basics
###Markdown Basics
####Markdown Basics



*   **point1** (bold)
*   *point2* (italic)
*   ***point3*** (bold and italic)



*   Noramal text
    * Sublist 1
    * sublist 2
    
    > 1. point1
    > 2. point2
    

***Adding links to markdown***

  * Google site --- [1.] : https://www.google.com 
  * ask -- [2.] : https://www.ask.

In [2]:
print("Hello Gitam")
print("Hyderabad")

Hello Gitam
Hyderabad

In [3]:
print("Hello, Gitam", " ||| ", end = " ")
print("Hyderabad",end=" ||| ")
print("Python programming")

Hello, Gitam  |||  Hyderabad ||| Python programming

In [4]:
n1 = 100  # single variable assignment
a = b = c = 20  # multi variable assignment
a1,b1,c1 = 111,222,333  # multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

#Data types and conversion




*   int
*   float
*   string

In [5]:
a = 100
s1 = "python"
s2 = 'P'
f1 = 10.2
print(a)
print(s1)
print(s2,f1)
print(type(a))
print(type(s1))
print(type(s2))
print(type(f1))
print(type(a), type(s1), type(f1))

100
python
P 10.2
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'> <class 'str'> <class 'float'>

###For figuring out the type of a particular variable put type(the_variable _name)

In [7]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [9]:
# a number is given 1234 - 
# digit count
a1 = 1234
print(len(str(a1)))

4

###Reading a message

input("Message") --string

In [10]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your namePranil
Pranil
<class 'str'>

In [11]:
n1 = int(input("Enter your number - "))
print(n1,type(n1))

Enter your number - 221810308045
221810308045 <class 'int'>

#Arithmetic operators

     + :- Add
     / :- Divide (float)
     - :- subtract
     * :- Multiply
     % :- Modulus
    ** :- Power
    // :- Divide (int)

In [12]:
n1=1234
print(n1+10)
print(n1-10)
print(n1/10)##returns Quotient in float 
print(n1*10)
print(n1%10)##returns remainder in float
print(n1//10)##returns Quotient in int
print(n1**10)

1244
1224
123.4
12340
4
123
8187505353567209228244052427776

###Precedence to arithmetic operations
 

*   Paranthesis
*   Power
*   Multiplication
*   Addition

###Left to right

In [13]:
x = 1 + 2 ** 3 / 4 + 5 
# 1 + 8 / 4 + 5
# 1 + 2.0 + 5
# Power, division, Addition
print(x)

8.0

In [14]:
x = 1 + 2 ** 3 / 4 * 5
# Power, division, Multiplication, Addition
print(x)

11.0

### Relational Operators
- ==
- != 
- Greater ( > )
- Less than ( < )
- Less than or equal to ( <= )
- greater than or equal ro ( >= )

In [15]:
a=10
b=6
a>=b
print(a)

10

##Logical Operators



*   and
*   or
*   
*   List item

In [16]:
i=100
a1= (i>=100)and(i<1000)
a2= (i<50)or(i>50)
print(a1)
print(a2)

True
True

##Control flow statements



1.    Conditional statements

2.   Looping statements


#### if-else statement
**Syntax**
if boolean_condition: 

statements 

else :

statements

In [17]:
# To check given number is even or odd
n = int(input("Enter a number - "))
if n % 2 == 0:
    print("Even")
else :
    print("Odd")

Enter a number - 12
Even

In [24]:
#to check if the number is a multiple of 3 and 5
n=int(input("Enter a number - "))
if n%3 ==0 and n%5 == 0:
  print("It is a multiple of 3 and 5")
else :
  print ("Not a multiple")

Enter a number - 12
Not a multiple

In [29]:
#to check if a number is positive or negative
n = int(input("Enter a number"))
if n==0:
  print("Given number is zero")
elif n>0:
  print("Number is a positive number")
elif n<0:
      print("number is negative")

Enter a number-16
number is negative