<a href="https://colab.research.google.com/github/Pranil-sekuru/PYTHON/blob/master/12th_July.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Regular Expression

- Pattern Matching 
- Patterns (re) package
- [0-9] 

Regex - 

[0-9] - test

1, 2, 8, 4  - input

[0-9] [2]  -- accepts a two digit number ending with 2

[0-9] {2} -- accepts any two digit number

[0-9] {2} $ -- accept only the last two digits of any number

  ^  - start

  0-9  - range

  {2}  - two digits 

  $  - end

## Regular Expression for characters 

- [a-z] --> Any lower case characters
- [A-Z] --> Any upper case characters

- ^[a-z]{5}$--> It accepts 5 lower case characters 

- ^[a-zA-Z]{8}$ --> Accepts 8 characters, lower and upper case

- ^[a-zA-Z0-9]{8}$ --> Accepts 8 characters of upper, lower, or numbers

In [1]:
# Function to test two digit no. matching

import re
def twoDigitM(n) :
  pattern = '^[0-9]{2}$' 
  n = str(n)
  if re.match(pattern,n) :
    return True 
  return False

print(twoDigitM(12))
twoDigitM(123)

True

False

In [2]:
# Function to define to test username having 8 characters 
# Upper case and lower

def testUsername(s) :
  pattern = '^[a-zA-Z]{8}$'
  if re.match(pattern,s) :
    return True
  return False

print(testUsername('GitamHYD'))
print(testUsername('Gitam188'))

True
False

### Regular expression to match the Indian Mobile no.

- 10 digits 
- First digit - [6-9]
- rest 9 digits - [0-9]
- ex: 9988776655

- Re  -  ^[6-9][0-9]{9}$

In [10]:
# Function to validate the Indian phone number

def phNo(phone) :
  pattern =  '^[+][9][1][6-9][0-9]{9}$|[0][6-9][0-9]{9}$|[6-9][0-9]{9}$'
  phone= str(phone)
  if re.match(pattern, phone) :
    return True
  return False

print(phNo(9988776655))
print(phNo('+919988776655'))

True
True

R E to validate Roll Number

- ex: 1521A0501
- ex: 1521A0109
- ex: 1521A0499

R E to validate the password 
- Parameters : length Min 6 characters and Max 15 characters
- Accept lower case, upper case, digits spl char (@,#,!)

In [14]:

def rollNo(pas) :
  pattern =  '^[a-zA-Z0-9@#!]{6,15}$'
  pas= str(pas)
  if re.match(pattern, pas) :
    return True
  return False

print(passWord('password@123'))
print(passWord('pass1'))

True
False

In [19]:
def mailId(Id) :
  pattern =  '^[a-zA-Z0-9.]{1,64}[@][a-z0-9]{0,64}[.][c][o][m]$'
  Id = str(Id)
  if re.match(pattern, Id) :
    return True
  return False

print(mailId('password@123.com'))
print(mailId('pass1'))

True
False

In [21]:
# Date format 

def date(d) :
  pattern = '^[0-9]{2}[/][1-12]{2}[/][0-9]{4}|^[0-9]{2}[-][1-12]{2}[-][0-9]{4}|^[0-9]{2}[ ][A-Z][a-z]{2}[ ][0-9]{4}'
  if re.match(pattern, d) :
    return True
  return False

print(date('22-12-1999'))
print(date('22 Dec 1999'))
print(date('Dec 22 1999'))

True
True
False

### Python Turtle

- Turtle Graphics

In [0]:
# Step - 1  : Make all the turtle package to be imported
import turtle

# Turtle method to creates and returns a new object
a1 = turtle.Turtle()

# forward() method moves 100 pixels
turtle.forward(250)

# We are done
turtle.done()

In [0]:
# Move in reverse direction
import turtle as tt
a1 = tt.Turtle()
a1.backward(100)
tt.done()

In [0]:
# Draw Square
import turtle as tt
a1 = tt.Turtle()
for x in range(4) :
  a1.forward(100)
  a1.right(90)
tt.done()

In [0]:
# Draw Star
import turtle as tt
a1 = tt.Turtle()
for x in range(40) :
  a1.forward(200)
  a1.right(144)
tt.done()

In [0]:
# Square in motion
import turtle as tt
a1 = tt.Turtle()
for i in range(7):
    for x in range(4) :
        a1.forward(100)
        a1.left(90)
    a1.left(15)
tt.done()

In [0]:
# Formation of a spiral with a square
import turtle as tt
a1 = tt.Turtle()
a1.pencolor('blue') 
for i in range(250):
        a1.forward(i)
        a1.left(91)
tt.done()

In [0]:
# Formation of a spiral with a Hexagon
from turtle import *
color = ['blue','green','yellow','orange','purple','red']
for x in range(360):
    pencolor(color[x%6])
    width(x/100 + 1)
    forward(x)
    left(59)

In [0]:
# goto function

from turtle import *
goto(50,50)
goto(-50,50)
goto(100,-50)
goto(-50,-50)

In [0]:
# setheading(heading)
# will change the current direction to the heading angle

from turtle import * 
color = ['blue', 'red', 'green', 'orange', 'yellow']
for angle in range(0,360,15) :
  setheading(angle)
  forward(100)
  write(str(angle)+ 'o')
  backward(100)

In [0]:
# undo() function will undo the last turtle action  
from turtle import *
pencolor('blue')
for i in range(20) :
    forward(10)
    left(90)
    forward(10)
    left(90)
    forward(10)
    right(90)
    forward(10)
    right(90)
pencolor('red')
for i in range(90) :
    undo()

In [0]:
# M
from turtle import *
pensize(50)
pencolor('blue')
forward(250)
pencolor(0,1,0,0)
forward(250)
pensize(10)
goto(-400,50)


for red in range(4) :
    for green in range(4) :
        for blue in range(4) :
            pencolor(red/4.0,green/4.0,blue/4.0)
            forward(10)

In [0]:
# Generate a rectangle
# Generate a circle
# Fill the colors into rectangle and circle
# fillcolor('color')
# Generate some stars
# stamp()

In [0]:
def reverseofTuple() :
  return tup[::-1] for tup in 1stoftuple
1stOftuple((1,2),(3,4,5),(6,7,8,9))
print(reverseofTuple(1stOftuple))

In [0]:
# Generate the symbols
from turtle import * 
colors = ('red', 'orange', 'yellow', 'seagreen4', 'orchid4', 'royalblue')
reset()
up()
goto(-320,-195)
width(90)
for pcolor in colors :
  color(pcolor)
  down()
  forward(750)
  up()
  backward(750)
  left(90)
  forward(100)
  right(90)
width(20)
color('white')
goto(0,-170)
down()

circle(170)
left(90)
forward(340)
up()
left(180)
forward(170)
up()
backward(170)
left(90)
down()
forward(170)
up()
goto(0,300)

In [0]:
# Fiiling colour in symbol
from turtle import * 
fillcolor('purple')
pencolor('black')
forward(100)

begin_fill()
forward(250)
left(90)
forward(250)
left(90)
forward(250)
left(90)
forward(250)
left(90)
end_fill()

fillcolor('orange')
begin_fill()
circle(170)
left(90)
forward(340)
up()
left(180)
forward(170)
up()
backward(170)
left(90)
down()
forward(170)
up()
goto(0,300)
end_fill()