<a href="https://colab.research.google.com/github/Pranil-sekuru/PYTHON/blob/master/9th_July.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data structures
 
- Lists
- Tuples
- Dictionaries
- Basic program sets on data structures
- Advaced problem sets
- contact application (dictionary object)

##Data structures

- To store , search and sort the data

In [3]:
list = [1,2,3,4]
print(list)
print(list[0])
print(list[-1])
print(list[1:])
print(list[1:4])

[1, 2, 3, 4]
1
4
[2, 3, 4]
[2, 3, 4]

In [5]:
#Update list item using index (Direct Refrencing)
li = ["Gitam","Python",1989,2002]
print(li)
li[2] = 2019
print(li)

['Gitam', 'Python', 1989, 2002]
['Gitam', 'Python', 2019, 2002]

In [7]:
#Delete specific item in the list
print(li)
del(li[2])
print(li)

['Gitam', 'Python', 2002]
['Gitam', 'Python']

In [11]:
#Basic list operations
lt = [1,9,6,8,7]
print(len(lt))
print(lt * 2)
print(9 in lt)
print(15 in lt)

for x in range(len(lt)):
  print(lt[x] , end = " ")

5
[1, 9, 6, 8, 7, 1, 9, 6, 8, 7]
True
False
1 9 6 8 7

In [15]:
#Functions of list
lt
print(lt)
print(min(lt))
print(max(lt))
print(sum(lt)) # Sum of all elements in the list
print(sum(lt)//len(lt)) # Average of  elements 
print(sum(lt[1::2])/len(lt[1::2]))

[1, 9, 6, 8, 7]
1
9
31
6
8.5

In [27]:
#Methods of List objects 
lt
lt.append(24)# adds element to the end of the list
lt
lt.insert(2,50) # Adds elemnet to a particular position in the list
lt
lt.count(10) # Checks how many times it repeated
lt.index(50)# Shows the position of specified element
lt
lt.sort()
lt
lt.pop() # Removes last element of the list
lt.pop() 

lt2 = [123,23,45]
lt2
lt.extend(lt2) # Merge the list 2 with list 
lt
lt.reverse()
lt

[1, 6, 7, 8, 9, 24, 24, 24, 24, 24, 24, 24, 24, 50, 50, 50, 123, 23, 45]

In [32]:
lt = [1,9,8,2,6,3]
print(lt[-1::])
print(lt[::-2])
print(lt[2::-2])  # Reverse alteranting 
print(lt[-1:2:-2]) # -1 - last index , -2 - last , 2 - stop till index number

[3]
[3, 2, 9]
[8, 1]
[3, 2]

In [37]:
def secondLarge(li) :
  li.sort()
  return li[-2]
li = [1,19,6,2,8,10,3]
secondLarge(li)

10

In [38]:
def genericLarge(li,n) :
  li.sort()
  return li[-n]
li = [1,19,6,2,8,10,3]
genericLarge(li,5)

3

In [39]:
def secondLeast(li) :
  li.sort()
  return li[1]
li = [1,19,6,2,8,10,3]
secondLeast(li)

2

In [41]:
def genericLeast(li,n) :
  li.sort()
  return li[n-1]
li = [1,19,6,2,8,10,3]
genericLeast(li,4)

6

##Searching algorithms

- Linear search :- Can be applied on duplicate and unique list
      - Unique lists :- elements in the list only appear once
         linear search algorithm can be applied to sorted or unsorted lists
- Binary search

In [43]:
#Function to search the data in a list

def linearSearch(li,item) :
  for x in range(len(li)) :
    if li[x] == item :
      return x
  return -1
li = [1,19,6,2,8,18,3]
linearSearch(li,225)

-1

In [47]:
def lsearch(li,item) :
  for x in range(len(li)) :
    if li[x] == item :
      print(x,end = " ")
  return 
  
li = [1,5,9,6,5,15,1,2,5]
lsearch(li,5)

1 4 8

In [52]:
def lsearch(li,item) :
  for x in range(len(li)) :
    if li[x] == item :
      for i in range(0,x+1) :
        print("!", end = "")
      print(end = " ")
  return

li = [1,5,9,6,5,15,1,2,5]
lsearch(li,5)

!! !!!!! !!!!!!!!!

In [55]:
def Formatted(li) :
  sum = 0
  for x in range(len(li)) :
      if li[x] % 3 == 0 and li[x] % 5 == 0 :
        sum = sum + li[x]
  return sum

li = [12,2,45,9,18,15,36]
print("Sum = ",Formatted(li))

Sum =  60

In [78]:
def con(li) :
  for x in range(len(li)) :
    if x == 0 or x == len(li)-1 :
      print(li[x],end = " ")
    else :
      print(li[x-1]*li[x+1], end = " ")
  return
li = [1,2,3,4,5]
con(li)

1 3 8 15 5

In [84]:
def con(li) :
  for x in range(len(li)) :
    if x == 0 or x == len(li)-1 :
      print(li[x],end = " ")
    elif (li[x-1]%2==0 and li[x+1]%2==0) :
      print(li[x], end = " ")
  return
li = [1,6,9,4,16,19,22]
con(li)

1 9 19 22

In [89]:
def numberListconversion(n) :
  li = []
  while n!= 0 :
    r = n % 10
    li.append(r)
    n= n // 10
  li.reverse()
  return li
      
numberListconversion(14569)

[1, 4, 5, 6, 9]

In [96]:
def countCharOccurances(s,c) :
  count = 0  
  for ch in s :
    if ch == c :
      count = count + 1
  return count

def countCharOccurances1(s,c) :
  return s.count(c)
countCharOccurances1("Python Programming",'P')

2

##String to list conversion 
 
 - input will be a string
 - expected output will be a string

In [99]:
def stringTolist(s) :
  li = s.split()
  numberslist = []
  for i in li :
    numberslist.append(int(i))
  return numberslist

s = "1 2 3 4 5 6 "
stringTolist(s)

[1, 2, 3, 4, 5, 6]

##Sorting Algorithms 

- Bubble sort
- Selection sort
- Insertion sort

###Bubble sort 

- This algorithm compares the adj elements and then swaps the one greater

In [101]:
def Bubblesort(li) :
  for i in range(len(li)-1) :
    for j in range(len(li)-1) :
      if li[j] > li[j+1] :
        li[j],li[j+1] = li[j+1], li[j]
  return li

li = [19,1,25,6,18,3]
Bubblesort(li)

[1, 3, 6, 18, 19, 25]

In [105]:
li = [1,4,5,6,9]
for i in li :
  print(i, end = "")

14569

In [115]:
li = [1,4,5,6,9]
for x in range(len(li)) :
  if li[x]%2 == 0 :
    print(li[x], end = "")

46

In [120]:
li = [1,2,3,4,5]
for x in range(len(li)) :
  if li[x]%2 == 0 :
    li[x] = li[x]*li[x]
print(li)

[1, 4, 3, 16, 5]