<a href="https://colab.research.google.com/github/Pranil-sekuru/PYTHON/blob/master/Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# iteration

- while
- for


**Syntax**
 
            while Boolean_condition
                          statements
                          increment/decrement

In [0]:
# example for while
 i=0
while ( i<5 ) :
    print("Gitam")
    i=i+1

Gitam
Gitam
Gitam
Gitam
Gitam

In [0]:
# print natural numbers 
n = int(input("Enter nth term "))
i = 1
while (i<=n) :
  print(i, end = " ")
  i=i+1

Enter nth term 10
1 2 3 4 5 6 7 8 9 10

In [0]:
n = int(input("Enter nth term "))
i=0
s = 0
while (i <= n) :
  s= s + i
  i=i+2
print(s)

Enter nth term 10
30

In [0]:
n = int(input("Enter term "))
r = 0
while ( n!=0 ) :
  r = n % 10 
  n = n // 10
  print(r, end = " ")

Enter term 123
3 2 1

#Functional programming 

- Simple
- Easy read
- Lengthy program divides into subprograms

def name_Of_the_Function 
      
           statements
           return

In [0]:
def addEvenDigits(n) :
  sum = 0
  while n != 0 :
    r = n % 10
    if r % 2 == 0 : 
       sum = sum + r
    n= n // 10
  print("Sum = ", sum)
  return
addEvenDigits(1234)

Sum =  6

In [0]:
def printLarge(n) :
  large = 0
  while n != 0 :
    r = n % 10
    if large < r :
      large = r
    n = n // 10
  return large 
printLarge(19528)

9

In [0]:
def reverseNumber(n) :
    rev = 0
    while ( n != 0 ) :
      r = n % 10 
      rev = rev * 10 + r
      n = n // 10
    return rev
reverseNumber(1234)

4321

In [63]:
def isPalindrome(n) :
    rev = 0
    buffer = n
    while n!=0 :
      r = n % 10
      rev = rev * 10 + r
      n = n // 10
    if buffer == rev :
      return "Yes"
    else :
      return "No"
print(isPalindrome(123))
print(isPalindrome(121))

No
Yes

In [65]:
n = 10
for x in range(1,n+1) :
  print(x, end = " ")

1 2 3 4 5 6 7 8 9 10

In [3]:
def printNo(a,b) :
  for x in range(a,b) :
    print(x, end = " ")
  return
a= int(input("Enter lower rage "))
b= int(input("Enter upper range "))
printNo(a,b)

Enter lower rage 100
Enter upper range 120
100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119

In [70]:
def altNo(a,b,x) :
  for x in range(a,b+1,x) :
    print(x, end = " ")
  return
a= int(input("Enter lower rage "))
b= int(input("Enter upper range "))
x= int(input("Enter Gap between numbers "))
altNo(a,b,x)

KeyboardInterrupt

In [2]:
def reverseNo(a,b) :
  for x in range(b,a-1,-1) :
    print(x,end = " ")
  return
a= int(input("Enter lower rage "))
b= int(input("Enter upper range "))
reverseNo(a,b)

Enter lower rage 100
Enter upper range 120
120 119 118 117 116 115 114 113 112 111 110 109 108 107 106 105 104 103 102 101 100