<a href="https://colab.research.google.com/github/Pranil-sekuru/PYTHON/blob/master/Python%20programs%20Day%205.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Program to find if the year is a leap year or not
n= int(input("Enter the year"))
if n%4==0 :
  print("Given year is a leap year")
else :
  print("Not a leap year")

Enter the year2000
Given year is a leap year

In [3]:
n = int(input("Enter the Day number -"))
if n==0 :
  print("sunday")
if n==1 :
  print("Monday")
if n==2 :
  print("Tuesday")
if n==3 :
  print("Wednesday")
if n==4 :
  print("Thursday")
if n==5 :
  print("Friday")
if n==6 :
  print("Saturday")

Enter the Day number -3
Wednesday

In [5]:
  
  a= int(input("Enter number "))
  b= int(input("Enter number "))
  c = int(input("Enter number "))
  if a>b and a>c :  
     print ("A is bigger")
  elif b>a and b>c:
         print( "B is greater" )
  elif c>a and c>b :
         print ("C is greater")

Enter number 2
Enter number 3
Enter number 4
C is greater

In [7]:
n = int(input("Enter number of terms "))
a = (n*(n+1))/2
print(a)

Enter number of terms5
15.0

In [9]:
n = int(input("Enter number of terms "))
a = n*n
print(a)

Enter number of terms 9
81

In [12]:
n = int(input("Enter number of terms "))
a = (n*(n+1))/2
b = a/n
print(b)

Enter number of terms 12
6.5

In [22]:
a = int(input("Enter coeff of x2 "))
b = int(input("Enter coeff of x "))
c = int(input("Enter constant "))
if (b*b)-(4*a*c) >= 0 :
  first = (-b+(b**2-4*a*c)**1/2)/2*a
  second = (-b-(b**2-4*a*c)**1/2)/2*a
  print(first)
  print(second)
else :
  print("Roots are imaginary")

Enter coeff of x2 1
Enter coeff of x 4
Enter constant 4
-2.0
-2.0

In [28]:
n = int(input("Enter number "))
i = 1
while (i<=n) :
  if (n%i==0) :
    print(i)
    i=i+1
  else :
    i=i+1

Enter number 4
1
2
4

In [30]:
a = int(input("Enter side 1 "))
b = int(input("Enter side 2 "))
c = int(input("Enter side 3 "))
if (a+b>c) :
  print("Valid triangle")
else :
  print("not a triangle")

Enter side 1 3
Enter side 2 4
Enter side 3 5
Valid triangle

In [35]:
temp = int(input("Enter temperature "))
F=((9/5)*temp+32)
print(F)

Enter temperature 32
89.6